@charset "UTF-8";

@-ms-viewport{
    width:device-width;
}
html, body {
    margin: 0;
}

*, *:before, *:after {
    box-sizing: border-box;
} 

.container{
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 20vw 20vw 20vw 20vw;
    grid-gap: 10px;
    background: black;

}
header{
    background-repeat: no-repeat;
}

h1{
    font-family: 'Poiret One', cursive;
    color: white;
}

p {
    font-family: 'Poiret One', cursive;
    color: white;
}
.text{
    z-index: 10;
    grid-area: 2 / 2 / 4 / 4;
    font-size: 40px;

}
.img {
    grid-area: 2 / 2 / 4 / 4;
}
img {
    display: block;
}


@media (min-width: 768px) and (max-width: 1024px) {  
    .img{
        grid-area: 2 / 2 / 4 / 4;
    }
    .text{
        grid-area: 2 / 2 / 4 / 4;
        text-align: center;
        font-size: 35px;
    }
    img{
        width: 100%;
    }
  }
  /* 
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
  */
  
  @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .img{
        grid-area: 2 / 2 / 4 / 4;

    }
    .text{
        grid-area: 2 / 2 / 4 / 4;
        text-align: center;
        font-size: 25px;
    }

    img{
        width: 100%;
    }
  }
  
  /* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */
  
  @media (min-width: 481px) and (max-width: 767px) {
    .img{
        grid-area: 2 / 2 / 4 / 4;
    }
    .text{
        grid-area: 2 / 2 / 4 / 4;
        font-size: 20px;
        text-align: center;
    }
    img{
        width: 100%;
    }

  }
  
  /* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */
  
  @media (min-width: 320px) and (max-width: 480px) {
    .img{
        grid-area: 2 / 2 / 4 / 4;
        width: 15px; 
    }
    .text{
        grid-area: 2 / 2 / 4 / 4;
        font-size: 15px;
        text-align: center;
    }
    img{
        width: 100%;
    }

  }